body
{
    font-family: "Roboto", sans-serif;
}


header
{
    display: flex;
    justify-content: center;

}

header i 
{
    margin-top: 1.5rem;
}

.fa-arrow-left
{
    color: black;
    align-items: center;
    padding-right: 11px;

}

.image img
{
   height: 100%;
   width: 100%;
   border : 3px solid black;
   object-fit: cover;
}

.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.fa-heart::before {
    content: "\f004";
    transition: color 1s ease-out;
    
    font-size: XXX-LARGE;
    color: black;
}
.fa-heart:hover::before{
    cursor: pointer;
    font: var(--fa-font-solid);
    content: "\f004";
    font-size: XXX-LARGE;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 20;
    transition: all 5s
}

.menu 
{
    border: 2px solid #F6F6F6;
    background-color: #F6F6F6;
    
}

.menu h2
{
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    margin: 1px 0 20px 11px;
}

.menu h2::after
{
    content: "";
    width: 35px;
    height: 3px;
    background: #99E2D0;
    position: absolute;
    left: 0px;
    bottom: 110px;
}

.carte
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    max-height: 10%;
   
}


.carte p 
{
    display: flex;
    margin: 0px;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.cartetexte
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartetexte
{   
    width: 100%;
    height: 100%;
   
}

.carte h4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top : 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.prix
{
    margin-top: 51px;
    display: block;
    padding-left: 10px;
}

.menu strong
{
margin-right: 15px;
}


.entre
{
    display: flex;   
}

@keyframes apparition {
    0% {
       opacity :0;
   
   }
   100% {
       opacity :1;
   }

   
   }

   .entre :nth-child(2)
   {
    animation : apparition 2s;
    -webkit-animation: apparition 2s;
   }
   
   .entre :nth-child(3)
   {
    animation : apparition 4s;
    -webkit-animation: apparition 4s;
   }
   
   .entre :nth-child(4)
   {
    animation : apparition 6s;
    -webkit-animation: apparition 6s;
   }

   .entre :nth-child(5)
   {
    animation : apparition 8s;
    -webkit-animation: apparition 8s;
   }
   
   .Plats :nth-child(2)
   {
    animation : apparition 2s;
    -webkit-animation: apparition 2s;
   }
   
   .Plats :nth-child(3)
   {
    animation : apparition 4s;
    -webkit-animation: apparition 4s;
   }
   
   .Plats :nth-child(4)
   {
    animation : apparition 6s;
    -webkit-animation: apparition 6s;
   }

   .Desserts :nth-child(2)
   {
    animation : apparition 2s;
    -webkit-animation: apparition 2s;
   }
   
   .Desserts :nth-child(3)
   {
    animation : apparition 4s;
    -webkit-animation: apparition 4s;
   }
   
   .Desserts :nth-child(4)
   {
    animation : apparition 6s;
    -webkit-animation: apparition 6s;
   }



.animation
{
    background-color: #99E2D0;
    width: 0px;
    height:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.animation i 
{
    color: white;
    font-size: xx-large;
    animation: rotation ease-in-out 4s ;
}



@keyframes rotation {
    0%{
        transform: rotate(0deg);
   }
   100%{
        transform: rotate(360deg);
   }
    
}

.carte:hover .animation
{
    width: 90px;
    animation : slide ease-out 1s;
}

@keyframes slide {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }


.Plats
{
    display: flex;
}


.Desserts
{
    display: flex;
}

.bouton
{
    display: flex;
    border: 2px solid #F6F6F6;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: center;
   
}

.bouton a
{
text-decoration: none;
border : 1px #D36BDB solid;
background : linear-gradient(to bottom right, #FF79DA, #9356DC);
border-radius: 25px 25px 25px 25px;
color: white;
padding : 14px 25px 14px 25px;
margin-top : 1rem;
margin-bottom: 3rem;


}

footer
{
border: 1px solid #353535;
background-color: #353535;

}

footer img
{
    fill: white;
    filter: invert(1);
    max-height: 6rem;
    max-width: 7rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
}

footer ul
{
    list-style: none;
    text-decoration: none;
    color: white;
}

footer a
{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 766px)

{
    
body
{
    
    margin: 0;
}

.fa-arrow-left
{
    margin-top: 17px;
}

header img
{
    max-width: 50%;
    max-height: 90%;
    margin-bottom: 0.6rem;
    margin-top: 0.4rem;
    margin-right: 5rem;
}

header i
{
margin-right: 5rem;

}

.image img
{
margin: 0;
width: 100%;
height: 20%;
border: none;
}

.carte
{
    width: 90%;

}

.animation
 {
    height: 90px;
 }

.menu
{
border-radius: 30px 30px 0 0;
border-radius: 30px 30px 0 0;
margin-top: -25px;
z-index: 1;
position: relative;
}

.menu h2::after
{
    
    bottom: -8px;
}



.menu strong
{
    
    justify-content: space-between;
    padding-right : 1rem;
}

.titre
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.titre i
{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    justify-content: space-between;
}

.entre
{
    flex-direction: column;
}

.Plats
{
    flex-direction: column;
}

.Desserts
{
    flex-direction: column;
}



}